body { 
    margin: 0;
    height: 100vh;
    background: #010101;
    font-size: system-ui;
    display: grid;
    place-content: center;
    box-sizing: border-box;
}

.tw-section-followCard {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border-radius: 16px; 
    /* background: rgb(30, 33, 37); */
    background: rgb(22, 24, 28);
    /* padding: 20px 0px; */
}
